@model FitKitApp.Models.Zaclenuvanje

@{
    ViewData["Title"] = "Edit";
}

<h3>Промени термин</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Корисник</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjektId" class="control-label">Објект</label>
                <select asp-for="ObjektId" class="form-control" asp-items="ViewBag.ObjektId"></select>
                <span asp-validation-for="ObjektId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termin" class="control-label"></label>
                <input asp-for="Termin" class="form-control" />
                <span asp-validation-for="Termin" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="OdobrenNeodobren" class="control-label"></label>
                <input asp-for="OdobrenNeodobren" class="form-control" />
                <span asp-validation-for="OdobrenNeodobren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="KorisnikUvid">Назад кон термини</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
